<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="errstyles.css" type="text/css">
  <title>Not found</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
    <div class="container-fluid justify-content-center">
    </div> 
  </nav>
<h1>404</h1>
<div class="cloak__wrapper">
  <div class="cloak__container">
    <div class="cloak"></div>
  </div>
</div>
<div class="info">
  <p>You have taken the wrong route, click the button below to return to the main page.</p>
</div>
</body>
</html>